html, body {
    font-family: 'Raleway', sans-serif;
    background-color: #e3dcca;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.typetext {
    font-family: "Courier New", Courier, monospace;
    background-color: #e3dcca;
    position: relative;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 100vh;
    text-align: center;
    font-size: 30vh;
}

.container {
    position: relative;
    background-color: #a89971;
    height: 100vh;
}

.projectsgrid {
    padding-top: 30vh;
    padding-bottom: 30vh;
    padding-left: 20vw;
    padding-right: 20vw;
    display: inline-grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
}

.project {
    display: table-cell;
    vertical-align: middle;
    width: 14vw;
    height: 17.5vh;
    line-height: 17.5vh;
    font-size: 4vh;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    margin-bottom: 1.5vh;
}

.project:hover {
    cursor: pointer;
}

img {
    padding: 20px;
    width: 75%;
    height: 75%;
}